<!--
{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/signinup.css' %}">
-->
<div id="UserForm">
    <div class="left"></div>
    <div class="right signin">
        <div class="form-content">
            <div class="form-items">
                <h3>Get more things done by joining us.</h3>
                <p>Fill all fields so we can get some info about you. We'll never send you spam.<br><br>
                    <span class="hint">Hover on the input fields for help</span> </p>
                <div class="page-links">
                    <a href="{% url 'login' %}" class="sign-in_btn">Login</a>
                    <a href="{% url 'signup' %}" class="register_btn active">Register</a>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="ibtn">Sign Up</button>
                </form>
            </div>
        </div>
    </div>


<style>
    body{
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#Userform{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:100vh;
    color:white;
}

.form-content .page-links {
    margin-bottom: 34px;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
    margin-right: 0;
}

.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content .page-links a.active:after {
    background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
    background-color: #fff;
}


.form-items{
    max-width: 340px;
    text-align: left;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.form-items h3{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}
.form-items p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
.form-items .ibtn{
    background-color: rgb(255, 255, 255);
    color: rgb(35, 57, 74);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 6px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 28px;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease 0s;
}
#Userform label{
    display: none;
}
#Userform input{
    background-color: rgb(68, 88, 103) !important;
    color: rgb(222, 219, 219);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 14px;
    padding: 9px 20px;
    outline: 0px;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    display: block; 
    line-height: 1.5;
    background-clip: padding-box;
}

.form-content input:hover, .form-content input:focus, 
.form-content .dropdown-toggle.btn-default:hover, 
.form-content .dropdown-toggle.btn-default:focus {
    border: 0;
    background-color: #fff;
    color: #000;
}


.right, .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right{
    background-color: rgb(35, 57, 74);
    text-align: left;
}
.right ul:not(.errorlist){
    display: none;
}

.right .helptext{
    display: none;
}
.right .hint{
    font-size: 14px;
    color:rgb(196, 196, 196);
}
.left{
    background: url("../../static/shop/imgs/img2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-position: center center;
}

.form-content input, .form-content .dropdown-toggle.btn-default {
    border: 0;
    background-color: #445867;
    color: #DEDBDB;
}
</style>    
<script>
    const usernameInputTitle = `Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.`;
    const pwdInputTitle = `Your password can't be too similar to your other personal information.\nIt must contain at least 8 characters.\nIt can't be a commonly used password and can't be entirely numeric.`;
    const cPwdInputTitle = `Enter the same password as before, for verification.`;


    let signUpInputs = document.querySelectorAll("#Userform input")
    signUpInputs[1].setAttribute("placeholder","Email");
    signUpInputs[1].setAttribute('title',usernameInputTitle);

    signUpInputs[2].setAttribute("placeholder","Password");
    signUpInputs[2].setAttribute('title',pwdInputTitle);

    signUpInputs[3].setAttribute("placeholder","Confirm Password");
    signUpInputs[3].setAttribute('title',cPwdInputTitle);

    //

</script>